<div class="row">
    <div class="col-md-12 form-group">
      <label for="name">Nome</label>
      <input type="text" name="name" class="form-control " value="<%= user.name %>">
    </div>
    <div class="col-md-6 form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control " value="<%= user.email %>">
    </div>
    <div class="col-md-6 form-group">
      <label for="password">Senha</label>
      <input type="password" name="password" class="form-control " value="<%= user.password %>">
    </div>
    <div class="col-md-6 form-group">
      <label for="dateOfBrith">Data de nascimento</label>
      <input type="date" name="dateOfBrith" class="form-control " value="<%= user.dateOfBirth == null ? '' : user.dateOfBirth.toISOString().split('T')[0] %>">
    </div> 
    <div class="col-md-6 form-group">
      <label for="timeOfBirth">Hora de nascimento</label>
      <input type="text" name="timeOfBirth" class="form-control " value="<%= user.timeOfBirth %>">
    </div>
    <div class="col-md-6 form-group">
      <label for="cityOfBirth">Cidade de nascimento</label>
      <input type="text" name="cityOfBirth" class="form-control " value="<%= user.cityOfBirth %>">
    </div>
    <div class="col-md-6 form-group">
      <label for="countryOfBirth">País de nascimento</label>
      <input type="text" name="countryOfBirth" class="form-control " value="<%= user.countryOfBirth %>">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <label for="biography">Biografia</label>
      <textarea name="biography" id="biography" class="form-control " cols="30" rows="8"><%= user.biography %></textarea>
    </div>
  </div>