<div class="row envelope">
    <div class="col-md-6 form-group fileupload">
        <div class="wrapper">
            <div class="image">
               <img src="" alt="">
            </div>
            <div class="content">
               <div class="icon">
                  <i class="fas fa-cloud-upload-alt"></i>
               </div>
               <div class="text">
                  Nada selecionado ainda
               </div>
            </div>
            <div id="cancel-btn">
               <i class="fas fa-times"></i>
            </div>
            <div class="file-name">
               Nome do Arquivo 
            </div>
         </div>
         <div >
            <input id="faceImage" name="faceImage" type="file" class="custom-file-input" >     
            <div  id="custom-btn">Selecione uma imagem</div>
         </div>
        </div>
    <div class="col-md-6 form-group">
      <label for="name">Nome</label>
      <input type="text" name="name" class="form-control " value="<%= user.name %>">
    </div>
    <div class="col-md-6 form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control " value="<%= user.email %>">
    </div>
    <div class="col-md-6 form-group">
      <label for="password">Senha</label>
      <input type="password" name="password" class="form-control " value="<%= user.password %>">
    </div>
    <div class="col-md-6 form-group">
      <label for="dateOfBirth">Data de nascimento</label>
      <input type="date" id="dateOfBirth"   name="dateOfBirth" class="form-control " value="<%= user.dateOfBirth == null ? '' : user.dateOfBirth.toISOString().split('T')[0] %>">
    </div> 
    <div class="col-md-6 form-group">
      <label for="timeOfBirth">Hora de nascimento</label>
      <input type="text" name="timeOfBirth" class="form-control " value="<%= user.timeOfBirth %>">
    </div>
    <div class="col-md-6 form-group">
      <label for="cityOfBirth">Cidade de nascimento</label>
      <input type="text" name="cityOfBirth" class="form-control " value="<%= user.cityOfBirth %>">
    </div>
    <div class="col-md-6 form-group">
      <label for="countryOfBirth">País de nascimento</label>
      <input type="text" name="countryOfBirth" class="form-control " value="<%= user.countryOfBirth %>">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <label for="biography">Biografia</label>
      <textarea name="biography" id="biography" class="form-control " cols="30" rows="8"><%= user.biography %></textarea>
    </div>
  </div>

  <script>
    const wrapper = document.querySelector(".wrapper");
    const fileName = document.querySelector(".file-name");
    const defaultBtn = document.querySelector("#faceImage");
    const customBtn = document.querySelector("#custom-btn");
    const cancelBtn = document.querySelector("#cancel-btn i");
    const img = document.querySelector("img");
    let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
    function defaultBtnActive(){
      defaultBtn.click();
    }
    function preview() {
        frame.src=URL.createObjectURL(event.target.files[0]);
    }
    defaultBtn.addEventListener("change", function(){
      const file = this.files[0];
      if(file){
        const reader = new FileReader();
        reader.onload = function(){
          const result = reader.result;
          img.src = result;
          wrapper.classList.add("active");
        }
        cancelBtn.addEventListener("click", function(){
          img.src = "";
          wrapper.classList.remove("active");
        })
        reader.readAsDataURL(file);
      }
      if(this.value){
        let valueStore = this.value.match(regExp);
        fileName.textContent = valueStore;
      }
    });
 </script>